<div class="container-fluid" style="background-color:black">
  <br>
  <br>
  <br>
  <br>
  <nav class="pull-right">
    <button class="btn btn-primary" routerLink="trigger-event" routerLinkActive="active">Trigger Event</button>
    <button class="btn btn-primary" routerLink="email-tmplt" routerLinkActive="active">Email Template</button>
    <button class="btn btn-primary" routerLink="prospect-set" routerLinkActive="active" >Prospect Set</button>
    <button class="btn btn-primary" routerLink="campaign" routerLinkActive="active">Campaign</button>
    <button type="button" routerLink="/profile" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-user"></span>
    </button>
  </nav>
</div>

<router-outlet></router-outlet>